<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr class="product-row-header w-full">
                {% if sync_id %}
                    <th class="px-6 py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                        style="width:5%">
                        <div class="flex items-center h-5">
                            <input name="product-select-all" type="checkbox"
                                   class="cursor-pointer focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                            onchange="SelectAllProducts(this)">
                        </div>
                    </th>
                {% endif %}
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                style="width:20%">
                    Title
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                style="width:30%">
                    Description
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                style="width:10%">
                    SKU
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                style="width:10%">
                    Options
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                style="width:10%">
                    Price
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                style="width:10%">
                    Quantity
                </th>
                <th class="px-6 py-3 bg-gray-50"
                style="width:5%"></th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        <input type="hidden" name="sync_id" value="{{ sync_id }}" />
        {% for product in products|sort(attribute='created') %}
            <tr class="product-row items-center justify-center">
                {% if sync_id %}
                    <td class="px-6 py-4 whitespace-no-wrap text-center" style="width:5%">
                        <div class="flex items-center h-5">
                            <input name="product" type="checkbox" value="{{ product.product_id }}"
                                   class="product-checkbox cursor-pointer focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                                   {% if product_ids | exists_filter(product.product_id) %}checked{% endif %}
                                   onchange="CheckPlanLimit(this);"
                            >
                        </div>
                    </td>
                {% endif %}
                <td class="px-6 py-4 whitespace-no-wrap" style="width:20%">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 h-20 w-20">
                            {% if product.images | length > 0 %}
                                <img class="h-20" src="{{ (product.images | first )['src'] }}" alt="">
                            {% endif %}
                        </div>
                        <div class="ml-4 truncate">
                            <div class="text-sm leading-5 font-medium text-gray-900 truncate">
                                <a href="{{ url_for('user.product', product_id=product.product_id) }}"
                                   class="text-indigo-600 hover:text-indigo-900">
                                 {{ product.title }}
                                </a>
                            </div>
                            <div class="text-sm leading-5 text-gray-500">
                                {% if product.variants | any_attribute_filter('requires_shipping', true) %}
                                    Physical product
                                {% else %}
                                    Digital product
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap" style="width:30%">
                    <div class="text-sm leading-5 text-gray-500 truncate">{{ product.description|safe }}</div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500" style="width:10%;">
                    {% for variant in product.variants %}
                        <div class="text-sm {% if not loop.last %}mb-2{% endif %} leading-5 text-gray-500">
                            {% if variant['sku'] %}
                                {{ variant['sku'] }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap" style="width:10%;">
                    {% if product.variants | any_attribute_filter('requires_shipping', true) %}
                        {% for variant in product.variants %}
                            <div class="text-sm {% if not loop.last %}mb-2{% endif %} leading-5 text-gray-500">
                                {% for option in variant|contains_filter('option') %}
                                    {% for item in option %}
                                        {{ option[item] }}
                                    {% endfor %}
                                    {% if not loop.last %} - {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-sm leading-5 text-gray-500">N/A</div>
                    {% endif %}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500" style="width:10%">
                    {% for variant in product.variants %}
                        <div class="text-sm {% if not loop.last %}mb-2{% endif %} leading-5 text-gray-500">
                            ${{ variant['price'] }}</div>
                    {% endfor %}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500" style="width:10%">
                    {% if product.variants | any_attribute_filter('requires_shipping', true) %}
                        {% for variant in product.variants %}
                            <div class="text-sm {% if not loop.last %}mb-2{% endif %} leading-5 text-gray-500">{{ variant['inventory_quantity'] }}</div>
                        {% endfor %}
                    {% else %}
                        <div class="text-sm leading-5 text-gray-500">N/A</div>
                    {% endif %}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium" style="width:5%">
                    <a href="{{ url_for('user.product', product_id=product.product_id) }}"
                       class="text-indigo-600 hover:text-indigo-900">
                        <svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        function SelectAllProducts(val){
            let checkboxes = document.getElementsByClassName('product-checkbox');
            let checked = 0;

            if (val.checked){
                for (let i=0; i < '{{ limit }}'; i++){
                    checkboxes[i].checked = val.checked;
                    checked += 1;
                }
            }
            else {
                for (let i=0; i < checkboxes.length; i++){
                    checkboxes[i].checked = val.checked;
                    checked = 0;
                }
            }

            document.getElementById('syncs-used').innerText = String(checked);
        }

        function CheckPlanLimit(el){
            let checked = document.querySelectorAll('input[name=product]:checked').length;
            if (checked > '{{ limit }}'){
                el.checked = false;
                alert("You've reached your plan limit of " + '{{ limit }}' + " products to sync. Please upgrade for more.")
                return;
            }

            document.getElementById('syncs-used').innerText = String(checked);
        }
    </script>
</body>
</html>