{% import 'macros/flash.html' as flash with context %}
<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>My Syncs - {{ 'site_name'|site_name_filter }}</title>

    <meta name="description" content="Recurrify - Subscriptions for your Shopify store">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo/favicon.ico') }}">

    <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="192x192">
    <!-- END Icons -->

    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='icons/styles.css') }}">

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">

    <!-- END Stylesheets -->
</head>
<body style="overflow-y: hidden;height: 100vh;">
<div style="height:100vh; overflow-y:hidden;">
    {% with page='stores' %}{% include '/user/includes/main_header.html' ignore missing %}{% endwith %}
    <div class="h-screen flex overflow-hidden bg-gray-100" style="height:93vh;">
        <div class="flex flex-col w-0 flex-1 overflow-hidden">
            <div class="relative z-10 flex-shrink-0 flex h-16 bg-white shadow">
                <button class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden"
                        aria-label="Open sidebar" onclick="OpenSidebar()">
                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h7"></path>
                    </svg>
                </button>
                <div class="flex-1 px-4 flex justify-between">
                    <div class="flex-1 flex">
                        <div class="w-full flex md:ml-0">
                            <label for="search_field" class="sr-only">Search</label>
                            <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                                <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                                    {#<svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
                            </svg>#}
                                </div>
                                <div id="search_field"
                                     class="block w-full h-full pl-8 pr-3 py-2 rounded-md text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 sm:text-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <main class="flex-1 relative z-0 overflow-y-auto pb-6 focus:outline-none" tabindex="0">
                {{ flash.render() }}
                <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-10">
                    <div class="grid md:grid-cols-2 sm:gap-4 lg:gap-6 sm:grid-cols-1 lg:grid-cols-2 mb-5">
                        <div class="col-span-1">
                            <div class="text-center full">
                                <span class="text-lg mb-1 mt-10 text-gray-700" style="font-size: 24px;">Your source stores</span><br/>
                            </div>

                            <fieldset class="pt-8" style="width:500px;margin:0 auto;float:none;">
                                <ul class="space-y-4" role="radiogroup" aria-labelledby="radiogroup-label">
                                    {% for shop in sources %}
                                        <li id="{{ shop.shop_id }}" tabindex="0" role="radio" aria-checked="true"
                                            class="group relative bg-white rounded-lg shadow-sm focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-indigo-500"
                                            >
                                            <div class="rounded-lg border border-gray-300 bg-white px-6 py-4 hover:border-gray-400 sm:flex sm:justify-between">
                                                <div class="items-center">
                                                    <div class="text-lg w-full">
                                                        <p class="text-gray-900">
                                                            {{ shop.url | title }}
                                                        </p>
                                                    </div>
                                                    <div class="text-gray-500 text-sm">
                                                        <p>{{ (product_counts | selectattr('id', 'equalto', shop.shop_id) | list | first)['count'] }} total products</p>
                                                    </div>
                                                    <div class="text-gray-500 text-sm">
                                                        {% set sync_count = destinations|selectattr('active', 'equalto', True ) | list | length %}
                                                        <p>{{ sync_counts | sum(attribute='count') }} product(s) actively synced across {{ sync_count }} store{% if sync_count != 1 %}s{% endif %}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-transparent absolute inset-0 rounded-lg border-2 pointer-events-none"
                                                aria-hidden="true"></div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </fieldset>
                        </div>

                        <div class="col-span-1">
                            <div class="text-center full">
                                <span class="text-lg mb-1 mt-10 text-gray-700" style="font-size: 24px;">Your destination stores</span><br/>
                            </div>

                            <fieldset class="pt-8" style="width:500px;margin:0 auto;float:none;">
                                {% if destinations|length > 0 %}
                                    <ul class="space-y-4" role="radiogroup" aria-labelledby="radiogroup-label">
                                        {% for sync in destinations %}
                                            <li id="{{ sync.destination_id }}" tabindex="0" role="radio" aria-checked="true"
                                                class="group relative bg-white rounded-lg shadow-sm focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-indigo-500"
                                                >
                                                <div class="rounded-lg border border-gray-300 bg-white px-6 py-4 hover:border-gray-400 sm:flex sm:justify-between">
                                                    <div class="flex items-center w-full">
                                                        <div class="grid grid-cols-4 gap-1">
                                                            <div class="col-span-3">
                                                                <div class="text-lg">
                                                                    <p class="text-gray-900">
                                                                        {{ sync.destination_url | title }} -
                                                                        <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium {% if not sync.active %}bg-gray-100 text-gray-800{% else %}bg-green-100 text-green-800{% endif %}">
                                                                            {% if not sync.active %}Inactive{% else %}Active{% endif %}
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                                <div class="text-gray-500 text-sm">
                                                                    {% set plan = plans|selectattr('id', 'equalto', sync.plan_id ) | list | first %}
                                                                    <p class="sm:inline">{{ sync.plan|title }} plan - ${{ plan.price }}/mo</p><br/>
                                                                    <p class="sm:inline">{{ (sync_counts|selectattr('id', 'equalto', sync.sync_id) | list | first)['count'] }}/{% if plan.limit > 5000 %}Unlimited{% else %}{{ plan.limit }}{% endif %} product syncs used</p><br/><br/>
                                                                    <a href="{{ url_for('user.sync', sync_id=sync.sync_id) }}">
                                                                        <p class="sm:inline text-indigo-600"><u>Choose which products to sync</u></p><br/>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="col-span-1 mt-3 pull-right">
                                                                <span class="ml-3 text-center items-center rounded-md shadow-sm" style="height:100%">
                                                                    {% if sync.active %}
                                                                        <button type="button"
                                                                                class=" mb-5 inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out"
                                                                                onclick="SyncProducts('{{ sync.sync_id }}', this)">
                                                                          Sync <i class="fa fa-refresh ml-3 pt-1"></i>
                                                                        </button>
                                                                        <button type="button"
                                                                                class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out"
                                                                                onclick="ActivateSync('{{ sync.sync_id }}', '{{ sync.destination_id }}', false, this);">
                                                                          Deactivate
                                                                        </button>
                                                                    {% else %}
                                                                        <button type="button" title="Activate to sync"
                                                                                class="disabled mb-5 inline-flex justify-center py-2 px-4 text-sm leading-5 font-medium rounded-md text-white bg-gray-400 transition duration-150 ease-in-out"
                                                                                onclick="return false;">
                                                                          Sync <i class="fa fa-refresh ml-3 pt-1"></i>
                                                                        </button>
                                                                        <button type="button"
                                                                            class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out"
                                                                            onclick="ActivateSync('{{ sync.sync_id }}', '{{ sync.destination_id }}', true, this);">
                                                                            &nbsp;&nbsp;Activate&nbsp;&nbsp;
                                                                        </button>
                                                                    {% endif %}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <div class="items-center flex w-full pt-8">
                                        <a href="{{ url_for('user.sync') }}"
                                            class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out"
                                            style="margin:0 auto; float:none">
                                            Sync a new store
                                        </a>
                                    </div>
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<!-- END Page Container -->
<!-- jQuery -->
<script src="{{ url_for('static', filename='oneui/assets/js/core/jquery.min.js') }}"></script>


<script>
    function ShowDropdown(id) {
        var dropdown = document.getElementById(id);
        if (dropdown.classList.contains('opacity-0')) {
            dropdown.classList.remove('opacity-0');
            dropdown.classList.remove('scale-95');
            dropdown.classList.add('opacity-100');
            dropdown.classList.add('scale-100');

            dropdown.style.display = '';
        } else {
            dropdown.classList.remove('opacity-100');
            dropdown.classList.remove('scale-100');
            dropdown.classList.add('opacity-0');
            dropdown.classList.add('scale-95');

            dropdown.style.display = 'none';
        }
    }

    function AddDestinationStore() {
        var store_count = document.getElementsByTagName('li').length;
        var store_list = document.getElementById('destination_list');

        var destination = document.getElementById('destination_0').cloneNode(true);
        destination.id = 'destination_' + String(store_count);
        store_list.appendChild(destination);
        document.getElementById(destination.id).getElementsByTagName('input')[0].value = '';
    }

    function SwitchPlan(val) {
        var options = document.getElementsByClassName('plans');
        for (var i = 0; i < options.length; i++) {
            options[i].classList.remove('border-indigo-500');
            options[i].classList.add('border-transparent');
        }

        document.getElementById(val.id + '_border').classList.add('border-indigo-500');
    }

    function ActivateSync(sync_id, shop_id, activate, el){
        var url = "{{ url_for('user.activate_sync') }}";
        $.ajax({
            url: url,
            type: 'POST',
            data: {'sync_id': sync_id, 'shop_id': shop_id, 'activate':activate},
            success: function (response) {
                if ('success' in response){
                    {#el.innerText = "Activated";#}
                    {#el.classList.remove('bg-indigo-600');#}
                    {#el.classList.remove('hover:bg-indigo-500');#}
                    {#el.classList.add('hover:bg-green-500');#}
                    {#el.classList.add('bg-green-600');#}
                    {#el.removeAttribute("onclick");#}
                    location.reload();
                }
            },
            error: function (xhr) {
            }
        });
    }


    function SyncProducts(sync_id, el){
        var url = "{{ url_for('user.sync_all_products') }}";
        $.ajax({
            url: url,
            type: 'POST',
            data: {'sync_id': sync_id},
            beforeSend: function () {
                el.innerText = "Syncing...";
                el.classList.remove('bg-indigo-600');
                el.classList.remove('hover:bg-indigo-500');
                el.classList.add('hover:bg-gray-500');
                el.classList.add('bg-gray-600');
                el.removeAttribute("onclick");
            },
            success: function (response) {
                if ('success' in response){
                    el.innerHTML = 'Sync <i class="fa fa-refresh ml-3 pt-1"></i>';
                    el.classList.remove('bg-gray-600');
                    el.classList.remove('hover:bg-gray-500');
                    el.classList.add('hover:bg-indigo-500');
                    el.classList.add('bg-indigo-600');
                    el.onclick = function() { SyncProducts(sync_id, el) };
                }
            },
            error: function (xhr) {
            }
        });
    }


</script>
<script>
    var body = document.getElementsByTagName("body")[0];
    var except = document.getElementById('user-dropdown-menu');

    body.addEventListener("click", function () {
        except.classList.remove('opacity-100');
        except.classList.remove('scale-100');
        except.classList.add('opacity-0');
        except.classList.add('scale-95');

        except.style.display = 'none';
    }, false);
    document.getElementById('user-menu').addEventListener("click", function (ev) {
        ev.stopPropagation(); //this is important! If removed, you'll get both alerts
    }, false);
</script>
</body>
</html>
